.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.contact-title {
  position: relative;
}

.contact-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}
.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.contact-section {
  display: flex;
  gap: 150px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-left h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(267deg, #02a152 0.36%, #078798 102.06%);
  background-clip: text; /* Clips the background to the text */
  webkit-background-clip: text; /* For Webkit browsers */
  -webkit-text-fill-color: transparent; /*Makes the text transparent to show the gradient*/
}

.contact-left p {
  max-width: 550px;
  color: white;
  font-size: 20px;
  line-height: 35px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  font-size: 22px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.contact-right label {
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.contact-right input {
  border: none;
  width: 700px;
  height: 78px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}

.contact-right textarea {
  border: none;
  width: 650px;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}

.contact-right button {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(267deg, #02a152 0.36%, #078798 102.06%);
  font-size: 22px;
  padding: 20px 60px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Outfit;
}

.contact-right button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.contact-socials {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 0px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.social-link:hover {
  transform: scale(1.05);
}
